.project > a > img {
    height: 300px;
    width: 500px;
    margin: 20px;
    border-radius: 4px;
    border: solid 4px #ED6C87;
    z-index: 1;
    position: relative;
}

.project > a > img:hover {
    transition: 0.5s;
    opacity: 0.6;
}
.description {
    background-color: #eaf1fe;
    margin: auto;
    border: solid 4px #ed6c87;
    flex-direction: column;
    padding: 15px;
    width: 410px;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 0px;
}

.text {
    font-size: 1em;
    color: black;
}

.project-buttons {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.buttons {
    display: inline-flex;
    align-items: baseline;
}

.project-title {
    color: white;
    margin: 0%;
    font-style: 'italic';
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    width: 430px;
    margin: auto;
    background: rgba(255, 255, 255, 0.3);
    padding: 3px;
    border-radius: 4px;
    backdrop-filter: blur(100px);
}


@media (max-width: 710px) {
    .project > a > img {
        height: 200px;
        width: 350px;
    }
}

@media (max-width: 500px) {
    .project > a > img {
        height: 170px;
        width: 250px;
        margin-bottom: 10px;
    }

    .project-title {
        width: 300px;
        margin: auto;
    }
}
