.primary-button {
    border: solid 1px var(--secondary-color) !important;
}

.primary-button:hover {
    background-color: var(--secondary-color) !important;
}

.secondary-button:hover {
    background-color: var(--primary-color) !important;
}

/* @media (max-width: 455px) {
    .primary-button {
        margin: 3px;
        padding: 5px;
    }
} */