.container {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    flex-direction: column;
}

.content > figcaption {
    color: black;
    width: 500px;
    display: flex;
    align-items: center;
    margin: 1%;
    padding: 20px;
}

.description {
    background-color: #eaf1fe;
    border: solid 4px var(--primary-color);
    flex-direction: column;
    padding: 15px;
    margin: 10%;
    margin-top: 0px;
    border-radius: 5px;
}

.text {
    font-size: 1em;
    color: black;
}

@media (max-width: 730px) {
    .text {
        font-size: 0.8em;
    }

    .description {
        border: solid 3px var(--primary-color);
        width: 220px;
        margin: auto;
        margin-top: 0px;
    }
}

@media (max-width: 420px) {
    .container {
        margin: auto;
        width: 333px;
    }

    .text {
        font-size: 0.6em;
    }

    .content {
        margin-bottom: 35px;
    }

    .description {
        border: solid 2px var(--primary-color);
        width: 220px;
        margin: auto;
        margin-top: 0px;
    }
}