.home-container {
  margin: auto;
  display: flex;
  width: 80%;
  margin-bottom: 20px;
  justify-content: space-around;
  margin-top: 30px;
}

.home-left {
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
}

.container-image {
  position: relative;
}

.chips {
  position: absolute;
  top: 0;
  right: 10%;
}

.presentation {
  color: #70a5fd;
  font-size: 7em;
  margin-bottom: 15px;
  display: inline-block;
  justify-content: center;
  text-align: left;
  font-weight: 650;
}

.hello-text {
  animation: rebote 3s alternate infinite ease-in-out;
  font-family: Montserrat, sans-serif;
  color: white;
}

.name-text {
  animation: rebote 2.4s alternate infinite ease-in-out;
  font-family: Montserrat, sans-serif;
}

@keyframes rebote {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(18%);
  }
}


.job {
  font-size: 1.5em;
  background-color: var(--primary-color);
  width: 300px;
  color: white;
  padding: 5px;
  border-radius: 4px;
  animation: bounce 1.1s alternate ease-in-out;
  margin: auto;
  font-family: Montserrat, sans-serif;
}

.home-hr {
  margin-top: 25px;
}

.self-image {
  align-self: center;
}

@keyframes bounce {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}


@media (max-width: 720px) {
  .presentation {
    font-size: 5em;
  }

  .job {
    font-size: 1em;
    width: 200px;
  }
}

@media (max-width: 530px) {
  .presentation {
    font-size: 4em;
  }
  .job {
    font-size: 0.7em;
  }

  .home-container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .presentation {
    font-size: 3em !important
  }
}


@media (max-width: 1030px) {
  .presentation {
    font-size: 5em;
  }

  .home-container {
    flex-direction: column;
  }
}