.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    width: 310px;
    z-index: 1;
    border-radius: 6px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.title {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions > Button {
    background-color: #86d9f3;
    color: black;
    border: solid 1px #86d9f3;
    margin: 10px;
    transition: 0.3s;
    font-family: Montserrat, sans-serif;
}