.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.links {
    height: fit-content;
    display: inline-flex;
    align-items: flex-end;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

.links a {
    display: inline-flex;
}

.link {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 1em;
    font-weight: 400;
    transition: 0.4s;
    padding: 7px;
    border-radius: 2px;
}

.link-clicked {
    color: #ed6c87;
}

.link:hover {
    transition: 0.4s;
    color: white;
    /* text-decoration: underline solid #ed6c87; */
    background: #ed6c87;
    border-radius: 6px;
}

.home-icon {
    color: white;
    display: flex;
    padding: 20px;
    transition: 0.3s;
}

.home-icon:hover {
    transition: 0.3s;
    color: #ed6c87;
    text-decoration: underline solid #ed6c87;
}

@media (max-width: 1150px) {
    .links {
        margin: auto;
        margin-left: 40%;
    }
}

@media (max-width: 1030px) {
    .links {
        margin: auto;
        margin-left: 25%;
    }
}

@media (max-width: 770px) {
    .links {
        margin: auto;
        margin-left: 10%;
    }
}

@media (max-width: 520px) {
    .links {
        margin-left: 2%;
    }
}

@media (max-width: 415px) {
    .link {
        font-size: 0.7em;
        margin: 15px;
        font-weight: 300;
        margin-left: 0%;
    }

    .home-icon > :first-child {
        font-size: 1.5em;
    }
}