.modal-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}

.modal-button-container > button:hover {
    transition: 0.3s;
    background-color: var(--secondary-color);
}

.modal-button-container > button {
    background-color: white;
    color: black;
    border: solid 1px var(--secondary-color);
    margin: 10px;
    font-family: Montserrat, sans-serif;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}