.learn-more > Button {
    background-color: white;
    color: black;
    border: solid 1px #86d9f3;
    margin: 10px;
    font-family: Montserrat, sans-serif;
}

.learn-more > button:hover {
    transition: 0.3s;
    background-color: #86d9f3;
}

@media (max-width: 455px) {
    .learn-more > Button {
        margin: 3px;
        padding: 5px;
    }
}